.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 200px;
    height: 55px;
    margin: 0 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.header__search{
    display: flex;
    align-items: center;
    flex: 1;
    color: black;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: rgb(4, 125, 224);
    
}

.header__optionLineOne{
    font-size:10px ;
}

.header__optionLineTwo{
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
}

#sign {
    text-align: center;
    min-width: 50%;
    color: honeydew;
    border-radius: 8px;
    background-color: green;
    padding: 5px;
    margin-top: 10px;
    padding-right: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color: rgb(3, 3, 3);
    text-decoration: none;
}

.header__optionBasket{
    text-decoration: none;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
}

.header__basketCount{
    text-emphasis: none;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}